// @import 'yoga';
// @import 'normalize';
//
// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'css-resets';
@import 'double-container';
@import 'top-nav';

// TOP SECTION;


// TOP NAVBAR

// .navbar {
//   display: flex;
//   // justify-content: space-between;
//   background: $c-greylink;
//   color: $c-white;
//   font-size: 0.5rem;
//   // flex-direction: column;
//   // justify-content: space-around;
//
//   > * {
//     margin: 0.5rem;
//     // background: $c-green;
//   }
// }
//
// .navbar-left {
//   display: flex;
//   align-items: center;
// }
//
// .navbar-title {
//   display: inline;
// }
//
// .navbar-right {
//   display: flex;
//   align-items: center;
//   padding-left: 10rem;
// }
//
// .navbar-right-item {
//   margin: 0.5rem;
//   // display: inline-block;
// }
//
// .search-icon {
//   display: inline-block;
//   width: 0.5rem;
//   height: 0.5rem;
//   margin: 0.5rem;
//
// }

// <-- FOOTER -->
//

.footer {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: blue;
  color: $c-white;
  font-size: 0.8rem;

  > * {
    margin: 0.5rem;
  }
}

.tiy-logo {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
}

.footer-item {
  padding: 0.5rem;
  color: $c-white;
  text-decoration: none;
}

.footer-left {
  display: flex;
  align-items: center;
  // transform: translateX(-5rem);
}


.footer-right {
  display: flex;
  align-items: center;


  font-size: 0.6rem;
  text-align: center;

  > * + * {
    border-left: 1px solid $c-lightgrey;
  }
}
