// *** TOP SECTION ***

// TOP NAVBAR;

.top {
  background: url('https://scontent-atl3-1.cdninstagram.com/t51.2885-15/e35/16583841_1454244444585861_996615803480571904_n.jpg') no-repeat center center fixed;
  background-size: cover;
}
.navbar {
    font-family: 'Bungee Inline', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;

  > * {
    margin: 0.5rem;
  }
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
}

.navbar-title {
  display: inline;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right-item {
  color: $c-black;
  margin: 0.5rem;
  text-decoration: none;
}


// *** HERO BANNER ***

.main-heading {
  align-content: space-around;
  padding-top: 10rem;
  padding-bottom: 10rem;


  background-size: cover;
  text-align: center;

}


.main-heading-big {
  margin: 0;
  font-size: 5rem;
  text-transform: uppercase;
  font-family: 'Bungee Shade', cursive;
}

.main-heading-small {
  margin: 0;
  color: $c-black;
  font-size: 1rem;
  font-family: 'Bungee Inline', cursive;
}
